
<h1>Root page</h1>

<a href="{{ url_for('main.generate_users')}}">Generate users</a><br>
<a href="{{ url_for('main.mean')}}">Mean value</a><br>
<a href="{{ url_for('main.requirements')}}">Requirements</a><br>
<a href="{{ url_for('main.space')}}">Space info</a><br>
<a href="{{ url_for('tracks_db.names')}}">Unique names of artists</a><br>
<a href="{{ url_for('tracks_db.tracks_genre')}}">All tracks in database</a><br>
<a href="{{ url_for('tracks_db.tracks_sec')}}">Tracks length</a><br>
<a href="{{ url_for('tracks_db.tracks_sec_statistics')}}">Tracks statistics</a>
